<div id="panelbar-images"></div>
<script>
    $("#panelbar-images").kendoPanelBar({
        dataSource: [
            {
                text: "产品管理",
                expanded:true,
                items: [
                    { text: "分类", cssClass: "fa fa-building", url:"/Category/Index" },
                    { text: "产品", url:"/Product/Index" }
                ]
            },
            {
                text: "活动管理",
                expanded: true,
                items: [
                    { text: "活动", url:"/Activity/Index" },
                    { text: "奖品", url:"/Award/Index" },
                ]
            },
            {
                text: "测试",
                expanded: true,
                items: [
                    { text: "图片上传", url: "/UploadFile/Index" },
                    { text: "图表", url: "/Chart/Index" },
                ]
            }
        ],
        select: onSelect
    });
    function onSelect(e)
    {
        debugger;
        //kendoConsole.log("Select: " + $(e.item).find("> .k-link").text());
    }
</script>
